@CHARSET "UTF-8";

.block {
	width: 200px;
	height: 120px;
	margin: 15px 15px 15px 15px;
	padding: 5px 5px 5px 5px;
}

#outer {
	width: 100%;
	/* Firefox */ display : -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	/* Safari and Chrome */
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	/* W3C */
	display: box;
	box-pack: center;
	box-align: center;
	display: -moz-box
}

#inner {
	width: 70%;
	padding: 5px 5px 5px 5px;
}

.ui-button .ui-button-text {
	display: block;
	line-height: 1.4;
	height: 70%;
}

.pad {
	padding: 20px 20px 20px 20px;
}